---
---

@import "{{ site.theme }}";
@import "overrides";

.description {
  margin-top: 1rem;
}

.social {
  margin-top: 2rem;

  img {
    height: 40px;
  }

  a, img {
    vertical-align: middle;
    display: inline-block;
  }
}

ul.social {
  list-style:none;
}

