---
---

@import "{{ site.theme }}";
@import "overrides";
@import "settings";

h1 {
  a, a:link, a:visited {
    color: $dark;
  }

  a:hover, a:active {
    color: $mid;
  }
}

a:hover, a:active {
  font-weight: normal;
}

.description {
  margin-top: 1rem;
}

.social {
  margin-top: 2rem;
  font-size: 1.2rem;

  a, a:link, a:visited {
    color: $dark;
  }

  a:hover, a:active {
    color: $mid;
  }

  img {
    height: 40px;
  }

  a, img {
    vertical-align: middle;
    display: inline-block;
  }

  li~li {
    margin-top: 0.5rem;
  }
}

ul.social {
  list-style:none;
  padding-left: 0;
}

.posts-container {
  margin-bottom: 5rem;
  padding: 0px;
  list-style: none;

  p {
    margin: 0 0 10px;
  }
}

.post-date {
  display: block;
  margin-top:10px;
  margin-bottom: 1rem;
  font-size:0.8rem;
}

.pagination {
  overflow: hidden;
  text-align: center;
}

.pagination a {
  text-decoration: none;
}

.pagination-button {
  color: $light-gray-color;
  border: 1px solid $pagination-button-color;
  padding: 15px 45px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.pagination-active {
  color: $mid;
}

.pagination-active:hover {
  background-color: $pagination-button-color;
}
