<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <script src="https://kit.fontawesome.com/dfb0f51122.js" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
    {% include head-custom.html %}
</head>
<body>
<div class="wrapper">
    <header>
        <a class="logo" href="{{ "/" | absolute_url }}">
            <img src="{{site.logo | relative_url}}" alt="Logo"/>
        </a>

        <p class="description">{{ site.description | default: site.github.project_tagline }}</p>

        <ul class="social">
            {% if site.social.instagram %}
            <li>
                <a href="{{ site.social.instagram }}">
                    <i class="fa-brands fa-square-instagram fa-fw"></i><span> Instagram</span>
                </a>
            </li>
            {% endif %}

            {% if site.social.email %}
            <li>
                <a href="mailto:{{ site.social.email }}&subject=Enquiry">
                    <i class="fa-solid fa-envelope fa-fw"></i><span> Contact</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </header>
    <section>

        {{ content }}

    </section>
    <footer>
    </footer>
</div>
<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>
</html>
