---
layout: default
---

{% for post in paginator.posts %}
<div class="posts-container">
    <h1>
        {% if post.link %}
        <a href="{{ post.link }}">{{ post.title }}</a>
        {% else %}
            {{ post.title }}
        {% endif %}
    </h1>

    {% if post.image %}
    <div class="thumbnail-container">
        <img src="/assets/img/{{ post.image }}">
    </div>
    {% endif %}

    <p>
        <article>
            {{ post.content }}

            {% if post.link %}
            <p><a class="post-read-more" href="{{ post.link }}">Read more</a></p>
            {% endif %}
        </article>

        <span class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }}</span>
    </p>
</div>
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
    {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
    {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
    {% endif %}
    {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
    {% endif %}
</div>
